.DS_Store
obj/i386/debug/CellsField.cpp.o
obj/i386/debug/Coord.cpp.o
obj/i386/debug/EasyBMP.cpp.o
obj/i386/debug/Field.cpp.o
obj/i386/debug/FieldSaver.cpp.o
obj/i386/debug/dumping.cpp.o
obj/i386/debug/load_params.cpp.o
obj/i386/debug/newca.cu.o
obj/i386/debug/newca_gold.cpp.o
obj/i386/release/CellsField.cpp.o
obj/i386/release/Coord.cpp.o
obj/i386/release/EasyBMP.cpp.o
obj/i386/release/Field.cpp.o
obj/i386/release/FieldSaver.cpp.o
obj/i386/release/dumping.cpp.o
obj/i386/release/load_params.cpp.o
obj/i386/release/newca.cu.o
obj/i386/release/newca_gold.cpp.o
test/.DS_Store
test/dump_1.0_0.5.dmp
test/log_emu.txt
test/res_0.bmp
test/res_1.bmp
test/res_10.bmp
test/res_11.bmp
test/res_12.bmp
test/res_13.bmp
test/res_14.bmp
test/res_15.bmp
test/res_16.bmp
test/res_17.bmp
test/res_18.bmp
test/res_19.bmp
test/res_2.bmp
test/res_20.bmp
test/res_21.bmp
test/res_22.bmp
test/res_23.bmp
test/res_24.bmp
test/res_25.bmp
test/res_26.bmp
test/res_27.bmp
test/res_28.bmp
test/res_29.bmp
test/res_3.bmp
test/res_30.bmp
test/res_31.bmp
test/res_32.bmp
test/res_33.bmp
test/res_34.bmp
test/res_35.bmp
test/res_36.bmp
test/res_37.bmp
test/res_38.bmp
test/res_39.bmp
test/res_4.bmp
test/res_40.bmp
test/res_41.bmp
test/res_42.bmp
test/res_43.bmp
test/res_44.bmp
test/res_45.bmp
test/res_46.bmp
test/res_47.bmp
test/res_48.bmp
test/res_49.bmp
test/res_5.bmp
test/res_50.bmp
test/res_6.bmp
test/res_7.bmp
test/res_8.bmp
test/res_9.bmp